body {
  background: darkgray;
  text-align: center;
  margin: auto;
}

.grid {
  display: grid;
  /*  grid-template-columns: repeat(11, 50px); */
  /* width: 550px; */
  border: 1px solid black;
  margin: auto;
  background-color: white;
}
.hiddenGrid {
  display: "none";
}

#cell {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  margin: auto;
}

#notationx {
  width: 50px;
  height: 50px;
  background-color: lightcoral;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  margin: auto;
}
#notationy {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  margin: auto;
}

.hit {
  background-color: red;
}
.miss {
  background-color: gray;
}
.shipPlacement {
  background-color: green;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.empty {
  background-color: "inherit";
}

#player1-grid {
  display: grid;
  background-color: aquamarine;
}
#player2-grid {
  display: grid;
  background-color: coral;
}

#interactionBtn {
  margin: auto;
  padding: 25px;
  cursor: pointer;
}

.sanked {
  background-color: black;
}
.startimage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.middleimage {
  background-color: rgb(216, 43, 133);
}
.endimage {
  background-color: cornflowerblue;
}
.down {
  transform: rotate(90deg);
  font-size: 0px !important;
}
.up {
  transform: rotate(-90deg);
  font-size: 0px !important;
}
.right {
  font-size: 0px !important;
}
.left {
  transform: rotate(180deg);
  font-size: 0px !important;
  bosrder: 3px solid red !important;
}
.possibilites {
  background-color: cadetblue !important;
}
