body {
  background: darkgray;
  text-align: center;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  width: 500px;
  border: 1px solid black;
  margin: auto;
  background-color: white;
}
.hiddenGrid {
  display: "none";
}

#cell {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  margin: auto;
}

.hit {
  background-color: red;
}
.miss {
  background-color: gray;
}
.shipPlacement {
  background-color: green;
}
.empty {
  background-color: "inherit";
}

#player1-grid {
  display: grid;
  background-color: aquamarine;
}
#player2-grid {
  display: grid;
  background-color: coral;
}

#interactionBtn {
  margin: auto;
  padding: 25px;
  cursor: pointer;
}

.sanked {
  background-color: black;
}
