body {
  background: darkgray;
  text-align: center;
  margin: auto;
}

.grid {
  display: grid;
}
.hiddenGrid {
  display: "none";
}

#cell {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#notationx {
  width: 50px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#notationy {
  width: 50px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hit {
  background-color: red !important;
}
.miss {
  background-color: gray !important;
}
.shipPlacement {
  background-color: green;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.empty {
  background-color: "inherit";
}

#player1-grid {
  display: grid;
}
#player2-grid {
  display: grid;
}

#interactionBtn {
  margin: auto;
  padding: 25px;
  cursor: pointer;
}

.sanked {
  basckground-color: black;
}
.startimage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.middleimage {
  background-color: rgb(216, 43, 133);
}
.endimage {
  background-color: cornflowerblue;
}
.down {
  width: 50px;
  height: 50px;
  transform: rotate(90deg);
  font-size: 0px !important;
}
.up {
  width: 50px;
  height: 50px;
  transform: rotate(-90deg);
  font-size: 0px !important;
}
.right {
  width: 50px;
  height: 50px;
  font-size: 0px !important;
}
.left {
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
  font-size: 0px !important;
}
.possibilites {
  background-color: cadetblue !important;
}
